{{> header}}

<div class="content">
  <img src="images/tenis001.jpg" width="300px" />
  <h1 class="text">Tênis Nike Downshifter 9 Masculino - Preto e Branco</h1>
  <div class="rating">
    <div class="stars">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
    </div>
    <span>127 opiniões</span>
  </div>
  {{> price}}
  <div class="buybutton">Comprar agora</div>
</div>