
<div class="header">
  <div href="javascript:void(0);" class="header__icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </div>
  <div class="header__title" href="#home">Websthor</div>
  <section class="right-icons">
    <i class="fa fa-heart"></i>
    <i class="fa fa-shopping-cart"></i>
  </section>
</div>